<!-- Page Header -->
<!-- Set your background image for this header in your post front-matter: cover -->

<%
    var cover = item.cover || theme.index_cover;
    var row_width_offset = 2;
    var row_width = 0;
    if (item.toc){ 
        row_width_offset = 1;
        row_width = 1;
    }
%>

<header class="intro-header" style="background-image: url('<%- cover %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1><%- item.title || theme.default_post_title || "Untitled" %></h1>
                    <% if (item.subtitle && item.subtitle.length) { %>
                    <h2 class="post-subheading">
                        <%- item.subtitle %>
                    </h2>
                    <% } %>
                    <span class="meta">
                        <!-- Date and Author -->
                        <% if(item.author) { %>
                        Posted by <%- item.author %> on
                        <% } %>
                        <% if(item.date) { %>
                        <%= item.date.format(config.date_format) %>
                        <% } %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Tags and categories -->
            <% if (item.categories && item.categories.length || item.tags && item.tags.length) { %>
                <div class="col-lg-5 col-lg-offset-<%- row_width_offset %>  col-md-5 col-md-offset-1 post-tags">
                    <% if (item.tags && item.tags.length){ %>
                        <%- partial('article-tags', {item: item}) %>
                    <% } else { %>
                        <%- partial('article-categories', {item: item}) %>
                    <% } %>

                </div>
                <div class="col-lg-5 col-md-5 post-categories">
                    <% if (item.tags && item.tags.length && item.categories && item.categories.length){ %>
                        <%- partial('article-categories', {item: item}) %>
                    <% } %>
                </div>
            <% } %>

            <!-- Gallery -->
            <% if (item.photos && item.photos.length){ %>
                <%- partial('gallery') %>
            <% } %>
            <!-- Post Main Content -->
            <div class="col-lg-<%- 9-row_width %> col-lg-offset-<%- row_width_offset %> col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
                <%- item.content %>
            </div>

            <!-- article toc -->
            <% if (item.toc){ %>
            <!--01-->
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 visible-lg">
                <!-- <div> -->
                    <%- partial('_partial/toc.ejs') %>
                </div>
            <% }%>

            <!--02-->
            <% if(item.copyright == true){ %>
                <div class="col-lg-9 col-lg-offset-<%- row_width_offset %> col-md-10 col-md-offset-1">
                    <%- partial("_partial/article-copyright.ejs", {item: page}) %>
                </div>
            <% } %>

            <!-- Comments -->
            <% if (item.comment != false) { %>
                <div class="col-lg-9 col-lg-offset-<%- row_width_offset %> col-md-10 col-md-offset-1">
                    <%- partial("_partial/comments.ejs") %>
                </div>
            <% } %>
        </div>
    </div>
</article>